@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
    background: yellow;
}

.banner {
    font-family: 'Raleway', sans-serif;
    color:black;
}